<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <!-- Without / it says from current path, add hero. It would not be correct -->
    <button [routerLink]="['/hero', 'new']"
            class="btn btn-outline-primary"
            type="button" name="button">
            New Hero
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-reponsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Come From</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kp of heroes | herokeys; let idx=index">
            <th scope="row">{{ idx + 1}}</th>
            <td>{{ heroes[kp].name }}</td>
            <td>{{ heroes[kp].comeFrom }}</td>
            <td>{{ heroes[kp].biography }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
