<h1>Heroes</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <!-- Without / it says from current path, add hero. It would not be correct -->
    <button [routerLink]="['/hero', 'new']"
            class="btn btn-outline-primary"
            type="button" name="button">
            New Hero
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-reponsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Come From</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
